@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('bootstrap.css');
@import url('slick.css');
@import url('slick-theme.css');
@import url('xzoom.css');
@import url('component.css');
@import url('toastr.css');

@import url('material-design-iconic-font.min.css');

*, :after, :before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 350ms ease-in;
    -moz-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
}

*, :active, :focus {
    outline: 0 !important;;
}

body {
    color: #4d4d4d;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .15em;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 850ms;
    -moz-animation-duration: 850ms;
    animation-duration: 850ms;
}

.fade-in.one {
    -webkit-animation-delay: 0.01s;
    -moz-animation-delay: 0.01s;
    animation-delay: 0.01s;
}

i {
    cursor: pointer;
    vertical-align: middle;
}

.centerthing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

img {
    vertical-align: middle;
}

.x-overflow {
    overflow-x: hidden;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

a:hover {
    color: #2980b9;
}

/* Bootstrap Modal shifting problem solve */

body {
    padding: 0 !important;
    overflow-x: hidden !important;
}

.modal {
    overflow-y: auto !important;
}

.modal-open {
    overflow: auto !important;
}

.modal-open[style] {
    padding-right: 0px !important;
}

/*   end */

/* Copyright sendinghug.com : MD ZAHIDUL ISLAM | www.ziruhel.cf || ruhelzahidul@gmail.com*/

.container {
    width: 100%;
    max-width: 1366px;
}

/* Material ripple effect */
.ripple {
    overflow: hidden;
    position: relative;
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #f6f6f6;
    animation-name: ripple-animation;
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
}

@-webkit-keyframes ripple-animation {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        transform: scale(100);
        opacity: 0;
    }
}

@-moz-keyframes ripple-animation {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        transform: scale(100);
        opacity: 0;
    }
}

@keyframes ripple-animation {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        transform: scale(100);
        opacity: 0;
    }
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb5 {
    margin-bottom: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt45 {
    margin-top: 45px;
}

.mt60 {
    margin-top: 60px;
}

.ml60 {
    margin-left: 60px;
}

.mr60 {
    margin-right: 60px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml15 {
    margin-left: 15px;
}

.em25 {
    font-size: 2.5em;
}

.em2 {
    font-size: 2em;
}

.lh2 {
    line-height: 2em;
}

.lh15 {
    line-height: 1.5em;
}

.ptb0 {
    padding-top: 0;
    padding-bottom: 0;
}

.pr5 {
    padding-right: 5px;
}

.pr20 {
    padding-right: 20px;
}

.w50 {
    width: 50%;
    display: inline-block;
    margin-right: -3px;
    margin-bottom: -4px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

i {
    font-size: 1.25em !important;
}

/* styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    border-bottom: 1px solid #ededed;
}

.top-header {
    background-color: #f5f5f5;
    font-size: 12px;
    text-transform: uppercase;
}
.logo{
    position: relative;
    z-index: 9;
    display: block;
}
.logo > img {
    height: 100px;
    position: absolute;
}

.top-nav {
    padding: 10px 0;
}

.top-nav li,
.social-nav li{
    display: inline-block;
}
.top-nav > ul > li {
    line-height: 1;
    border-right: 1px solid #0d0d0d;
    padding-left: 15px;
    padding-right: 15px;
}
.top-nav > ul >li:last-child {
    border-right: none;
}

.top-nav li a i,
.top-nav li a img{
    vertical-align: inherit;
}
.top-nav li a:not(.btn){
    color: #000;
}
.navbar-nav li a,
.social-nav li a,
.footer-nav li a{
    color: #4d4d4d;
}

.top-nav li a:not(.btn):hover,
.navbar-nav > li > a:hover,
.navbar-nav .open > a,
.navbar-nav .open > a:hover,
.navbar-nav .open > a:focus,
.social-nav li a:hover,
.social-nav li a:focus,
.footer-nav li a:hover,
.footer-nav li a:focus,
.account-nav > li > a:hover{
    background-color: transparent;
}

.navbar-nav li a,
.footer-nav li a{
    font-size: 12px;
}
.top-nav li.disabled a{
    opacity: 0.3;
}
.top-nav li.disabled a:hover{
    opacity: 1;
}
/* dropdown menu animation */
.navbar-nav li {
    position: static;
    display: inline-block;
    float: unset;
}
.navbar-nav .dropdown-menu {
    border: none;
    border-radius: 0 !important;
    padding: 0;
    left: 0;
    right: 0;
    box-shadow: none;
}

.navbar-nav > li.open > a:before {
    content: " ";
    display: block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: none;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-bottom: 6px solid #CAAC57 !important;
    z-index: 9999;
}

.dropdown-menu {
    border-bottom: 1px solid #ededed;
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.open .dropdown-menu {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
    border-bottom: 1px solid #ededed;
}
.open .dropdown-menu, .dropdown-menu {
    display: unset;
}

.navbar-nav {
    width: 100%;
}

/* end */
.mega-menu {
    padding: 30px;
    border-top: 2px solid #CAAC57;
    background-color: #fff;
    /* margin-top: 10px;*/
}

.mega-menu h2 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0 !important;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 6px;
    font-family: Montserrat, sans-serif;
}

.mega-menu .links {
    margin-bottom: 50px;
}

.mega-menu .links > li {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.mega-menu .links > li > a {
    font-size: 11px;
    display: block !important;
}

.menu-banner {
    position: relative;
    font-size: 100% !important;
    color: #fff;
}

.menu-banner img {
    width: 100%;
}

.menu-banner .line {
    background-color: transparent;
    position: absolute;
    height: 92%;
    top: 4%;
    left: 4%;
    width: 92%;
    border: 1px solid #fff;
    content: " ";
}

.menu-banner .content {
    position: absolute;
    bottom: 10%;
    line-height: 1;
    right: 10%;
}

.menu-banner .content .text.text-1 {
    font-size: 140%;
    font-weight: 300;
    text-transform: lowercase;
}

.menu-banner .content .text.text-2 {
    font-size: 340%;
    font-weight: 700;
    text-transform: uppercase;
}

.menu-banner .content .text.text-3 {
    font-size: 140%;
    text-transform: uppercase;
    font-weight: 400;
}

.mega-menu li a:hover {
    text-decoration: underline;
}

/********* **************/
.search {
    position: relative !important;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-right: 0 !important;
}

.search > input {
    border-radius: 0;
    height: 30px;
    min-width: 293px;
    border-color: #ededed;
    box-shadow: none;
}
.search.sing-up > input{
    height: 43px;
    border-color: #CAAC57;
}
.form-control {
    height: 40px;
    font-size: 14px;
    border-color: #DBDBDB;
    box-shadow: none;
    border-radius: 0;
}

.search > input:focus,
.form-control:focus{
    box-shadow: none;
    border-color: #CAAC57;
}

.search > .form-control::-webkit-input-placeholder {
    color: gray;
    font-weight: 400;
}
.search > .form-control:-moz-placeholder {
    color: gray;
    font-weight: 400;
}
.search > .form-control::-moz-placeholder {
    color: gray;
    font-weight: 400;
}
.search > .form-control:-ms-input-placeholder {
    color: gray;
    font-weight: 400;
}
.search > .form-control:-ms-input-placeholder {
    color: gray;
    font-weight: 400;
}
.search > button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: transparent;
    font-size: 1.5em;
    line-height: 22px;
}
.search.sing-up > button{
    height: 42px;
}
.sing-up > .btn-sh, .btn-sh.btn-apply{
    background-color: #CAAC57;
    width: unset;
    min-width: unset;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}
section.top{
    margin-top: 138px;
    /*padding-top: 15px;*/
}
.banner figure > img,
.slider img,
.product figure > img{
    -o-object-fit: fill;
    object-fit: fill;
    height: auto;
    width: 100%;
}
.banner .flex-row figure > figcaption{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 42px;
    padding: 0 20px;
    cursor: pointer;
    text-decoration: underline;
    z-index: 2;
    color: #fff;
}
.flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.flex-row .col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    position: relative;
    padding-left: 15px;
}
.flex-row .col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.banner .flex-row .content{
    padding: 40px 30px 55px 55px;
}
.flex-row .content h2,
.btn-wrap h2,
.best-seller h2{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 23px;
    margin-top: 0;
    font-size: 33px;
}
.flex-row .content p {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 16px;
    margin: 0;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 23px;
    font-weight: 300;
}
.btn-sh{
    border: 2px solid #CAAC57;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 0;
    color: #000;
    background-color: #fff;
    font-weight: 600;
    transition: .2s all ease-in-out;
    min-width: 200px;
}
.btn-sh:hover,.btn-sh:focus{
    background-color: #CAAC57;
    color: #fff;
}
.ptb3em{
    padding-top: 3.5em;
    padding-bottom: 3.5em;
}
.btn-wrap{
position: relative;
    text-align: center;
    padding-top: 20px;
}
.btn-wrap:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 15px #ffffff;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    z-index: 2;
}
.quote{
    background-color: #f5f5f5;
    text-align: center;
    padding: 30px 0;
    margin-top: 45px;
}
.quote svg {
    width: 24px;
    height: 20px;
    margin-bottom: 4px;
}
.quote h4{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.17em;
}
.quote h3{
    font-size: 20px;
    font-weight: 700;
}
.slider .col{
    width: 350px;
    padding: 15px;
}
.slider .col h6{
    color: #4d4d4d;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 15px;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
}
.best-seller{
padding-top: 30px;
}
.round{
    background-color: #4d4d4d;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    font-size: 22px;
    width: 35px;
    height: 35px;
}
.app a{
    color: gray;
    line-height: 32px;
    letter-spacing: 0;
}
.social-nav li a{
    font-size: 20px;
}
footer h5{
    font-weight: 700;
    margin-top: 25px;
    letter-spacing: .05em;
}
.footer-nav li a,
.account-nav > li > a{
    font-weight: 500;
    line-height: 22px;
    font-size: 13px;
}
.footer-nav li a{
    letter-spacing: .05em;
}
.footer-nav li a:hover,
.account-nav > li > a:hover{
    color: #000;
}
.copyright{
    background-color: #f5f5f5;
    font-size: 12px;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-top: 3.5em;
}
.footer{
    margin-top: 3.5em;
    padding-top: 1em;
    border-top: 1px solid #ededed;
}
.product > a{
    text-transform: capitalize;
    font-weight: 400;
    color: #4d4d4d;
}
.product .name{
    display: block;
    margin-top: .5em;
}
.nav-thumbs{
    padding: .5em 0;
    overflow: hidden;
    margin-bottom: 25px !important;
}
.nav-thumbs > li{
    display: inline-block !important;
    list-style: none;
}
.nav-thumbs > li > a{
padding: 0;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 4px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}
.nav-thumbs > li > a > img{
    width: 100%;
    border-radius: 50%;
}
.nav-thumbs > li.active > a{
    border: 1px solid #CAAC57;
}
.sh-breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
    display: inline-block;
  /*  margin-top: -20px;*/
}
.sh-breadcrumb li a{
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 400;
}
.sh-breadcrumb li:last-child a {
    pointer-events: none;
    cursor: default;
    font-weight: 600;
}
.relative{
    position: relative;
}
/********* **************/

.carousel,
.item,
.active {
    height: 100%;
}
.carousel-inner {
    height: 450px;
    min-height: 450px;
}
.item {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.carousel-indicators li{
    margin: 0 6px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 12px;
    height: 12px;
    border: none;
}
.carousel-indicators .active{
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0 6px;
}
.carousel-indicators {
    bottom: -40px;
}
/* end */
.filter-nav > li > a{
    text-transform: uppercase;
    padding-right: 35px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 400;
    font-size: 11px;
}
.filter-nav > li > a:after {
    position: absolute;
    content: '';
    pointer-events: none;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    border-color: transparent #000 #000 transparent;
    transform: rotate(45deg);
    left: auto;
    top: 12px;
    right: 15px;
    z-index: 10;
    font-style: normal;
    font-size: 16px;
    opacity: 1;
    transition: all 350ms ease;
}
.filter-nav > li.open > a:after {
    transform: rotate(225deg) translate(-2px,-2px);
}
.filter-nav > li.open > a{
    background-color: #f5f5f5 !important;
}
.filter-nav.navbar-nav > li > a{
    background-color: #f5f5f5;
}
.filter-nav .mega-menu{
    background-color: #f5f5f5;
    border-top: none;
    font-size: 13px;
    letter-spacing: 0;
    text-transform: capitalize;
    padding: 10px 30px;
}
.filter-nav > li.open > a:before{
    display: none;
}

.filter-nav > li{
    display: inline-block;
    text-transform: uppercase;
}
.filter-nav.navbar-nav > li{
    width: 100%;
padding-bottom: 10px;
}
/* custom checkbox */
/*Adding custom checkbox icons*/
.custom-checkbox label{
    font-weight: 500;
    padding-left: 0;
}
.custom-checkbox span {
    position: relative;
    padding-left: 1.6em;
    font-size: 1em;
    cursor: pointer;
    line-height: 1em;
}
.custom-checkbox span:before,.custom-checkbox span:after{
    font-family: Material-Design-Iconic-Font;
    font-size: 1.25em;
    position: absolute;
    top: -1px;
    left: 0;
    line-height: 1.2em;
    transition: all 0.35s;
}
.custom-checkbox span:before {
    content: '\f279';
}
.custom-checkbox span:after {
    content: '\f26a';
    max-width: 0;
    opacity: 0.5;
    overflow: hidden;
}
.custom-checkbox input[type="checkbox"]{
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked + span:after{
    max-width: 25px;
    opacity: 1;
}
.custom-checkbox input[type="checkbox"]:checked + span:before{
    opacity: 0;
}

/*end*/
.navbar-header {
    /* float: left; */
    font-size: 12px;
    padding: 5px 10px;
    line-height: 20px;
}
.filter-option{
    color: #4d4d4d;
    line-height: 20px;
}
.selected-option{
    min-width: 165px;
    letter-spacing: 0;
}
.selected-option .dropdown-menu,
.cart-dropdown .dropdown-menu{
    border: none;
    box-shadow: none;
    width: 100%;
    border-radius: 0;
}
.selected-option li a{
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.selected-option .select-list > li.selected > a{
    background-color: #CAAC57;
    color: #fff;
}
.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
    display: block;
    max-width: none;
    max-height: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.xzoom-container{
    width: 100%;
}
.xzoom{
    width: calc(100% - 120px) !important;
    float: right;
}
.xzoom-thumbs{
    width: 120px;
    padding-right: 15px;
}
.xzoom-thumbs a img,
.xzoom-thumbs a{
    width: 100% !important;
    opacity: 0.5;
}
.xzoom, .xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
    border-color: transparent !important;
    box-shadow: none !important;
}
.xzoom-thumbs a,
.xzoom-thumbs a img.xactive{
    opacity: 1;
}
.sp-quantity-box {
    border: 1px solid #ededed;
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    min-width: 145px;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}
.sp-minus, .sp-plus, .sp-input {
    float: left;
    text-align: center;
    font-size: 24px;
    height: 36px;
    width: 36px;
    font-weight: 300;
}

.sp-input input {
    font-size: 18px;
    font-weight: 400;
    border: none;
    width: 60px;
    text-align: center;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.sp-input {
    background-color: transparent;
    width: 60px;
    line-height: 30px;
}
.sp-minus a, .sp-plus a {
    display: block;
    width: 100%;
    height: 100%;
    color: #4e4d5b;
}
.btn-atc{
    min-height: 43px;
    background-color: #CAAC57;
    color: #fff;
    line-height: 26px;
}
.availability h6 span {
    background-color: #CAAC57;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    height: 22px;
    width: 22px;
    text-align: center;
    line-height: 22px;
    display: inline-block;
}
.nav-tabs {
    border-bottom: 1px solid #ededed;
    max-width: 750px;
}
p, .tab-content{
    font-weight: 400;
}
.nav-tabs > li > a{
    color: #adadad;
}
.navbar-nav.filter-nav .dropdown-menu{
    position: relative;
    font-size: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom:5px;
    border-bottom: none;
}
.navbar-nav.filter-nav .dropdown-menu li{
    display: block;
    padding-left: 10px;

}
.sh-pagination {
    display: block;
    text-align: right;
    margin-bottom: 30px;
    margin-top: 10px;
}
.sh-pagination li{
    display: inline-block;
}
.sh-pagination li a:hover,
.sh-pagination li.active a,
.sh-pagination li.active a:hover {
    background-color: #CAAC57;
    color: #fff;
}
.sh-pagination li a {
    border: 0;
    background-color: transparent;
    color: #4d4d4d;
    border-radius: 50%;
}
.scrollToTop {
    position: fixed;
    bottom: 75px;
    right: 40px;
    display: none;
    z-index: 999;

}
.scrollToTop:hover,.scrollToTop:focus{
    text-decoration: none;
}
#hero-arrow {
    z-index: 99999;
    color: #fff;
    font-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #CAAC57;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 55px;
    border-radius: 3px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.07), 0px 1px 18px 0px rgba(0, 0, 0, 0.06), 0px 3px 5px -1px rgba(0, 0, 0, 0.1);
}
#hero-arrow:hover {
    box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.07), 0px 5px 22px 4px rgba(0, 0, 0, 0.06), 0px 7px 8px -4px rgba(0, 0, 0, 0.1);
}
.largeImage{
    position: relative;
}
.xzoom-lens{
    box-shadow: none;
}
.login-container{
    margin: 10px auto;
    max-width: 540px;
}
.login-container h2 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 15px;
}
.login-container .btn-sh{
    min-width: 180px;
}
.support-box {
    padding-left: 20px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin: 14px 0;
    margin-left: 20px;
    font-size: 13px;
    letter-spacing: 0.07em;
}
.link-forget {
    color: #4e4d5b;
}
.link-register {
    color: #ff4466;
}
.support-box::after {
    content: '';
    width: 2px;
    height: 40px;
    background-color: #ececec;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.support-box p{
    margin: 0;
}
button.close{
    padding: 0 7px;
}
.cart-dropdown .dropdown-menu {
    width: 274px;
    max-width: 274px;
    border-radius: 0;
    left: unset;
    right: -10px;
    top: 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .175);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .175);
}
.cart-dropdown .cart-content{
    padding: 20px 15px;
    padding-bottom: 25px;
}
.product-list {
    padding-left: 4.6em;
    position: relative;
    padding-top: 10px;
    border-bottom: 1px solid #ededed;
    min-height: 5.3em;
    text-transform: capitalize;
    font-size: 12px;
 }
.product-list img {
    width: 4em;
    position: absolute;
    left: 0;
    top: 10px;
    height: 4em;
}
.product-list > a {
    padding: 0;
    margin-bottom: 3px;
    display: block;
}
.subtotal {
    background-color: #ededed;
    line-height: 40px;
    text-align: center;
    margin: 12px 0;
}
.cart-header {
    font-size: 16px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 8px;
}
.cart-dropdown.open > a:before {
    content: " ";
    display: block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: none;
    position: absolute;
    left: 0;
    bottom: -18px;
    right: 0;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-top: 7px solid #f6f6f6 !important;
    z-index: 9999;
}
.remove:hover {
    color: #dc2828 !important;
}
.remove, .btn-link {
    color: #bdbdbd !important;
    font-size: 1.25em;
}
.price{
    font-weight: 700;
}
.ymlike-carousel .carousel-inner{
    height: auto;
    min-height: unset;
}
.carousel-control{
    width: auto;
}
.leftArrow, .rightArrow {
    top: 40%;
    color: #CAAC57;
}
.rightArrow {
    left: unset;
    right: 0;
}
.item-table {
    border: 1px solid #ededed;
    margin-top: 15px;
    overflow-x: auto;
    font-weight: 400;
}
.item-table th {
    background-color: #ededed;
    font-weight: 400;
}
.item-table th{
    white-space: nowrap;
}
.item-table th, .item-table td {
    padding: 15px !important;
    border-color: #ededed !important;
}

.table .item-images {
    width: 90px;
    text-align: center;
}

.item-images img {
    max-width: 75px;
}

.item-description {
    max-width: 350px;
    position: relative;
}

.item-list-price a {
    position: absolute;
    bottom: 20px;
    left: 40%;
}
.item-description h5,
.item-list-price h5,
.cart-container h4{
    color: #000000;
    font-weight: 400;
}
.cart-container{
    padding: 45px 30px;
    padding-top: 0;
}
.discount{
    margin-top: 5px;
    margin-bottom: 30px;
}
.login-container h4{
    font-size: 17px;
}
/* checkout */
.checkout-nav {
    max-width: 600px;
    counter-reset: step;
    margin: 3em auto;
    height: 5em;
}
.checkout-nav li {
    list-style: none;
    position: relative;
    width: 25%;
    float: left;
    text-align: center;
    font-weight: 400;
}
.checkout-nav li.active {
    color: #000;
}

.checkout-nav li.active:before,
.checkout-tab li.active > a{
    background-color: #CAAC57;
    color: #fff;
}

.checkout-tab li {
    list-style: none;
}

.checkout-nav li:before {
    content: counter(step);
    counter-increment: step;
    height: 40px;
    width: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    background-color: #ededed;
}


.checkout-tab li > a:hover {
    text-decoration: none;
}
.checkout-tab li > a{
    background-color: #ededed;
    color: #4d4d4d;
    padding: 10px 15px;
    display: block;
    text-align: center;
    font-weight: 400;
}

.checkout-nav li.active:after {
    background-color: #CAAC57;
}

.checkout-nav li:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ededed;
    position: absolute;
    top: 20px;
    left: -50%;
    z-index: -1;
}
.checkout-nav li:first-child:after {
    content: none;
}
.checkout {
    border: 1px solid #ededed;
    padding: 60px 15px;
    max-width: 1000px;
    margin: 30px auto;
    font-weight: 400;
}
.have-password ~ input {
    height: 0px;
    -webkit-transition: height, 0.35s linear;
    transition: height, 0.35s linear;
    visibility: hidden;
    margin-top: 0;
}

.have-password:checked ~ input {
    height: 40px;
    -webkit-transition: height, 0.35s linear;
    transition: height, 0.35s linear;
    visibility: visible;
    margin-top: 1em;
}
.radio-btn{
    display: block;
    font-weight: 400;
}
.separator{
    margin: 15px 0;
    padding-top: 5px;
    border-top: 1px solid #ededed;

}
/*end */
.tab-container{
    width: 200px;
    height: 100%;
    float: left;
    padding: 45px 0;
}
.profile-container {
    position: relative;
    margin-left: 250px;
}

.account-nav > li.active > a {
    background-color: #fff;
    color: #000000;
}
.account-nav > li > a{
    color: #7d7d7d;
}

.account-nav > li > a > i {
    font-size: 1.25em !important;
    margin-right: 10px;
    vertical-align: inherit;
}

.main-container .tab-content {
    padding: 0;
}
.main-container{
    position: relative;
    background-color: #fff;
   padding: 15px 30px;
    float: left;
    width: calc(100% - 200px);
}
.dl-customize > dt{
    text-align: left;
}
.dl-customize > dd{
    font-weight: 400;
}
.main-container .login-container{
    margin-left: 0;
    padding-top: 15px;
    font-weight: 400;
    margin-bottom: 45px;
}
.main-container .form-control{
    height: 30px;
}
textarea.form-control {
    height: auto !important;
}
.header-menu{
    position: relative !important;
}
.header-menu .dropdown-menu{
    min-width: 300px;
    background-color: #f5f5f5;
}
.header-menu.open .dropdown-menu{
    padding: 1.5em 0;
}
.header-menu li a,
.header-menu li{
    display: block !important;
}
.navbar-nav > li.header-menu.open > a::before {
    border-bottom-color: #f5f5f5 !important;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
@media (max-width: 1200px){
    body {
        letter-spacing: .12em;
    }
    .navbar-nav li a, .footer-nav li a,
    .top-header{
        font-size: 11px;
    }
    .navbar-nav li a, .footer-nav li a,
    .top-nav > ul > li{
        padding-left: 10px;
        padding-right: 10px;
    }
    .table-row{
        display: table;
    }
    .table-row > div {
        display: table-cell;
    }
    .logo > img {
        height: 90px;
    }
}
@media (max-width: 970px){
.navbar-nav li a{
    padding-left: 5px;
    padding-right: 5px;
}
}
@media (max-width: 768px){
    #search {
        position: absolute !important;
        width: 100%;
        right: 0;
        background-color: #f5f5f5;
        padding: 15px !important;
        top: 42px;
    }
    #search > button {
        right: 15px;
        top: 15px;
    }
    #header-nav {
        background-color: #f5f5f5;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }
    #header-nav > li{
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-menu li a {
        background-color: #f0f0f0;
        padding: 8px 25px !important;
        margin-left: -15px;
        margin-right: -15px;
    }
    .navbar-nav li a{
        padding-left: 10px;
        padding-right: 10px;
    }
    .logo > img {
        top: -35px;
    }
    .top-header {
        background-color: #fff;
    }
    .navbar-nav li {
        display: block;
        text-align: left;
    }
    .arrow:after {
        content: "+";
        display: inline-block;
        position: absolute;
        right: 0;
        top: 8px;
        font-style: normal;
        font-size: 16px;
        opacity: 1;
        transition: all 350ms ease;
        font-weight: 400;
    }
    .open .arrow:after {
        content: '\2013';
    }

}
@media (max-width: 500px){
    .hidden-xxs{
        display: none !important;
    }
    .logo > img {
        height: 70px;
        top: -25px;
    }
}